@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(
    to right top,
    #1a2980 0%,
    #26d0ce 50%,
    #1a2980 100%
  );
  overflow: hidden;
}

input[type="text"],
input[type="number"] {
  padding-left: 10px;
  font-size: 18px;
}

.first-program {
  max-width: max-content;
  height: 220px;
  border-radius: 25px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
  margin: 90px auto;
}

.first-heading {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.group {
  display: inline-block;
  max-width: min-content;
  margin-bottom: 30px;
}

#fname,
#lname {
  height: 25px;
  width: 150px;

  outline: none;
  background-color: rgba(182, 182, 182, 0.5);
  border: none;
  border-radius: 20px;
  margin-right: 5px;
}

#fname:active,
#lname:focus {
  background-color: transparent;
}

.first-name,
.last-name {
  font-size: 20px;
}

/***** Button *****/
.btn-name {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}
.btn-name {
  max-height: max-content;
  font-size: 14px;
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  cursor: pointer;
}

.btn-name:hover {
  transform: translateY(-1.1px);
  box-shadow: 0px 7px 15px rgb(0, 0, 0, 0.8);
}

.btn-name:active {
  transform: translateY(0);
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.9);
}
/***** End Button *****/
/*****************************/

.full-name {
  font-size: 20px;
  font-weight: 700;
}
